{{#each product}}

<div class = "product">
<div class = "product-name">Nome: {{descricao}}</div>
<div class = "product-price">Preço: {{codigo}} </div>
<div class = "product-description">Quantidade: {{quantidade}} </div>
<div class = "product-description">Lote: {{lote}} </div>
<div class = "product-description">Vencimento: {{vencimento}} </div>
</div>

{{/each}}
