<!DOCTYPE html>
<html>
<head>
  <title>CPE - Consultoria em Projetos de Estoque</title>
<link rel="stylesheets" href="style.sass">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>
<body>
  <div class="menu-bar">
<ul>
  <li class="active"><a href="home"><i class="fas fa-columns"></i>  Home</a></li>
  <li><a href="estoque"><i class="fas fa-cubes"></i>  Estoque</a>
    <div class="sub-menu-1">
      <ul>
          <li><a href="saida">Saida</a></li>
          <li><a href="entrada">Entrada</a></li>
      </ul>
  </div>
  </li>

  </li>
  <li><a href="cadastro"><i class="fas fa-users"></i></i>  Cadastro</a></li>
    <li><a href="signout"><i class="fas fa-users"></i></i>  Sair</button></li>
</ul>
</div>
</body>
</html>
</script>
<style>

  h2 {
  position: absolute;
  left: 8.3%;
  top:20%;
  color:white;
  font-size: 30px;}

  h3{
  text-align: center;
  color: #fff;
  top:20%;
  position: fixed;
  left: 42.8%;
  }

  h4 {
  position: absolute;
  right:6.4%;
  top:20%;
  color:white;
  font-size: 30px;
  }

  h1 {
  position: absolute;
  left: 107px;
  top:194px;
  color: white;
  font-size: 17px;
  background: white;
  }


.div2 {
  width: 350px;
  height: 450px;
  padding: 199px;
  position:absolute;
  left: 3.5%;
  top:18%;
  border: 3px solid #febb11;
}


.div3 {
  height: 450px;
  padding: 199px;
  position:absolute;
  left:36%;
  top:18%;
  border: 3px solid #febb11;
  z-index: 0;
}

.div4 {
  height: 450px;
  padding: 199px;
  position:absolute;
  right:3.5%;
  top:18%;
  border: 3px solid #febb11;
}

.listavencendo{
  width: 400px;
  position:fixed;
  left:3.5%;
  top:28%;
}

.listaacabando{
  width: 400px;
  position:fixed;
  left:36%;
  top:28%;
}
.listaretirados{
  width: 400px;
  position:fixed;
  right:3.5%;
  top:28%;
}
.list-group-item{
  background-color: transparent;
  color: white;
}
</style>
<html>
<body>

<br></br>
<br></br>
<br></br>

  <div class="div2"></div>
  <h2>Produtos vencendo</h2>
  <div class="listavencendo">
  <table id="customers">
      {{#each vencendo}}
      <tr href="#" class="list-group-item list-group-item-action">
         <td>{{codigo}}</td>
         <td>{{descricao}}</td>
         <td>{{vencimento}}</td>
      </tr>
      {{/each}}
  </table>

</div>


  <div class="div3"></div>
  <h3>Lotes acabando</h3>
  <div class="listaacabando">
  <a href="#" class="list-group-item list-group-item-action">Lote 1</a>
  <a href="#" class="list-group-item list-group-item-action">Lote 2</a>
</div>

  <div class="div4"></div>
  <h4>Retirados recentemente</h4>
  <div class="listaretirados">
    <table id="customers">
      {{#each recentes}}
      <tr href="#" class="list-group-item list-group-item-action">
         <td>{{codigo}}</td>
         <td>{{descricao}}</td>
         <td>{{ultimaRetirada}}</td>
      </tr>
      {{/each}}
  </table>
</div>
<script type="text/javascript" src="/javascripts/signout.js"></script>
</body>
</html>
